{% extends "admin/base.html" %}

{% block breadcrumbs %}
    {% set breadcrumbs = [
    ['name' => 'Слайды']
    ] %}
    {% parent %}
{% endblock %}

{% block content %}
    <h1 class="b-heading">Слайды</h1>

    <a href="{{ url('admin_slider_slider_create') }}" class="b-button">Добавить слайд</a>

    <table class="b-table">
        <thead class="b-table__thead">
        <tr class="b-table__tr">
            <th class="b-table__th">Название</th>
            <th class="b-table__th">Группа</th>
            <th class="b-table__th">Ссылка</th>
            <th class="b-table__th"></th>
        </tr>
        </thead>
        <tbody class="b-table__tbody">
        {% for slide in slides %}
            <tr class="b-table__tr">
                {% include "admin/slider/slider/_slider_row.html" with ['slide' => slide] %}
                <td class="b-table__td b-td__actions">
                    <a class="b-td__link"
                       href="{{ url('admin_slider_slider_update', ['id' => slide.id]) }}" title="Изменить">
                        <span class="b-icon">&#xE254;</span>
                    </a>
                    <a class="b-td__link"
                       data-confirm="Удалить заказ?"
                       href="{{ url('admin_slider_slider_remove', ['id' => slide.id]) }}" title="Удалить">
                        <span class="b-icon">&#xE872;</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
